<!-- <div class="row flex-items-sm-between text-sm-left flex-items-xs-center text-xs-center" style="color: aliceblue">
  <div class="col-sm-3 col-xs-12">
    &copy;
    <span>{{ year }} CASIN - Counsil of American Students in International Negotiations.</span>
  </div>
  <div class="text-sm-right col-sm-2 offset-sm-5 col-xs-12">
    <a href="">Contact us</a>
  </div>
  <div class="col-sm col-xs-12">
    <a href="">Terms and Conditions</a>
  </div>
</div> -->

<div class="row drop-margin text-xs-center">
  <div class="col-xs">
    <p style="color: aliceblue">
      &copy;
      <span>{{ year }} CASIN - Counsil of American Students in International Negotiations.</span>
    </p>
  </div>
</div>

<div class="row drop-margin mb-2 mt-1">
  <div class="col-sm col-xs-12 text-xs-center text-sm-right">
    <!-- <p> -->
    <a href="" style="color: aliceblue">Contact us</a>
    <!-- </p> -->
  </div>
  <div class="col-sm col-xs-12 text-xs-center text-sm-left">
    <!-- <p> -->
    <a href="" style="color: aliceblue">Terms and Conditions</a>
    <!-- </p> -->
  </div>
</div>