<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link nav-text" routerLinkActive="active" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" routerLinkActive="active" routerLink="/news">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" routerLinkActive="active" routerLink="/mission">Mission</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" routerLinkActive="active" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" routerLinkActive="active" routerLink="/team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" routerLinkActive="active" routerLink="/journal">Publications</a>
    </li>
  </ul>
</nav>