<clr-main-container>

  <header class="header-1">
    <div class="branding">
      <a class="nav-link">
        <span class="title">Casin</span>
      </a>
    </div>
    <div class="header-actions">
      <a routerLink="signin" class="nav-link nav-text">
        Log In
      </a>
      <a routerLink="signup" class="nav-link nav-text">
        Signup
      </a>
      <a routerLink="app/homepage" class="nav-link nav-text">
        Go To App
      </a>
    </div>
  </header>
  <p>
    This is the main home page
  </p>

</clr-main-container>